// @import "./shared/fonts";
@import "./shared/colors";
@import "./shared/mixins";

@import "./index";
@import "./portfolios";
@import "./blogs";
@import "./about";

@import "./header";
@import "./cv";

html,
body {
  font-family: "Montserrat", "Helvetica";
  height: 100%;
  width: 100%;
}

.self-typed {
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  font-size: 33px;
}
.absolute {
  position: absolute;
}
.error {
  color: red;
  font-weight: 700;
}
.base-page {
  padding: 150px 0 100px 0;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

.clickable {
  cursor: pointer;
}
